# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Platform
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/android/.gradle/
**/android/local.properties
**/macos/Flutter/ephemeral/

# Misc
.DS_Store
*.log
rough.md
